html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    padding: 0px;
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;

    .grid-item {
        padding: 20px;
        border: 2px solid #000000;
        border-collapse: collapse;
        text-align: center;

        &:first-of-type {
            /* grid-row-start: 1;
            grid-row-end: 3; */
            grid-row: span 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:nth-of-type(2) {
            /* grid-column-start: 2;
            grid-column-end: 4; */
            grid-column: span 2;
        }
    }
}

.newsletter-main {
    &.es-volun-form {
        .note-span {
            display: block;
            margin-top: -8px;
            margin-bottom: 8px;
            font-size: 14px;
        }
        .es-form-lbl {
            font-size: 22px;
            font-weight: 700;

            @media (max-width: 768px) {
                font-size: 18px;
            }

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        .news-title {
            margin-top: 0px;

            @media (max-width: 768px) {
                font-size: 34px;
            }

            @media (max-width: 767px) {
                font-size: 28px;
            }
        }

        .form-element{
            &.es-emerg-con-field{
                margin-top: 8px;
            }
        }

        .newsletter-main {
            .news-page {
                .news-title{
                    @media (max-width: 768px) {
                        font-size: 36px;
                    }

                    @media (max-width: 767px) {
                        font-size: 30px;
                    }
                }
            }
        }

        .note-span{
            &.es-vol-limit {
                display: block;
                margin-top: 6px;
                margin-bottom: 0px;

                @media (max-width: 768px) {
                    
                }
            }
        }

        .part-header{
            &.es-voul-area-inte-lbl {
                margin-bottom: 0px;
            }
        }
    }
}