html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    padding: 0px;
    margin: 0px;
}

.todo {
    max-width: 320px;
    margin: 0 auto;
    header {
        background-image: url("../images/headerbg.png");
        background-size: cover;
        height: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        color: #000000;
        span,
        i {
            display: block;
            margin: 10px;
        }
        .clear {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 1px solid #dddddd;
        border-top: 0px;
        border-bottom: 0px;
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            &:not(:last-child) {
                border-bottom: 1px solid #dddddd;
            }
            .fa-check-circle {
                color: green;
            }
            .text {
                text-transform: uppercase;
                color: #000000;
                &.lineThrough {
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            i {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    input[type="text"] {
        width: 100%;
        padding: 10px 6px;
        font-size: 14px;
    }
}